<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>User Management</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}" style="text-decoration: none;"> <h1 class="header-title">Student Management</h1> </a>
        <div class="navbar-items">
            <a href="{% url 'add_user' %}" class="action-btn add-user-btn" style="text-decoration: none;"> Add User</a>
            <a href="{% url 'identify' %}" class="action-btn scan-user-btn" style="text-decoration: none;"> Scan User</a>
            <form class="search-form" method="GET" action="">
                
                <input type="text" class="search-input" name="search" placeholder="Search..." value="{{ search_query }}"> 
                <input type="hidden" name="previous_search" value="{{ search_query }}">
                <button type="submit" class="action-btn generate-btn">Search</button>
            </form>
            
            <a href="{% url 'logout' %}" class="action-btn logout-btn" style="text-decoration: none;">Logout</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}
</body>
<script>
    // Clear the search input field when the page is loaded from the cache.
    window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            document.querySelector('input[name="search"]').value = '';
        }
    });
</script>
</html>
