<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>User Management</title>
</head>
<body>
    <header>
        <h1 class="header-title">User Management</h1>
        <div class="navbar-items">
            <button class="action-btn add-user-btn">Add User</button>
            <button class="action-btn scan-user-btn">Scan User</button>
            <form class="search-form">
                <input type="text" class="search-input" placeholder="Search...">
                <button type="submit" class="action-btn generate-btn">Search</button>
            </form>
            <button class="action-btn logout-btn">Logout</button>
        </div>
    </header>

    {% block content %}

    {% endblock %}
</body>
</html>
