
{% load static %}

<head>
   <link rel="stylesheet" href="{% static 'css/full_details.css' %}">
</head>
<body>
    <div class="details-container">
        <div class="details-table">
            <h2>Student Details</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <td>John Doe</td>
                </tr>
                <!-- Add more fields as needed -->
                <tr>
                    <th>Father Name</th>
                    <td>Michael Doe</td>
                </tr>
                <tr>
                    <th>Identity</th>
                    <td>Student</td>
                </tr>
                <tr>
                    <th>Contact</th>
                    <td>0345-1234567</td>
                </tr>
                <tr>
                    <th>Roll No</th>
                    <td>ABC123</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>Computer Science</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>Sobra city H-5, Tarbela Dam</td>
                </tr>
                <tr>
                    <th>Enrollment Year</th>
                    <td>2020</td>
                </tr>
                <tr>
                    <th>Completion Date</th>
                    <td>June 2024</td>
                </tr>
                <tr>
                    <th>CGPA</th>
                    <td>3.75</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>johndoe@example.com</td>
                </tr>
            </table>
        </div>
        <div class="user-pic">
            <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="User">
        </div>
    </div>
</body>

