
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/generate_card.css' %}">
</head>
  
<body>
    <div class="card">
        <div class="header">Wapda Post Graduate College Tarbela Dam</div>
        <div class="qr-image-container">
            <img src="{{student.photo.url}}" alt="User" class="user-pic">
            <img src="{{student.qr_code.url}}" alt="QR Code" class="qr-code">
        </div>
        <div class="user-details">
            <p><label>Name:</label> {{student.student_name}}</p>
            <p><label>Roll No:</label> {{student.roll_no}}</p>
            <p><label>Department:</label> {{student.department}}</p>
            <p><label>ID CARD:</label> {{student.id_card_number}}</p>
            <p><label>Address:</label>{{student.address}}</p>
            <p><label>Contact:</label> {{student.contact}}</p>
            <p><label>Issue Date:</label> {{student.card_issue_date}}</p>
            <p><label>Expiry Date:</label> {{student.expiry_date}}</p>
            
        </div>
    </div>
</body>

