{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>User Management</title>
 </head>
<body>
    <div class="form-container">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Department</th>
                        <th>Generate Card</th>
                        <th>Full Details</th>
                        <th>User Picture</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Add similar rows for other users -->
                    {% for student in students %}
                    <tr>
                      <td>{{student.student_name}}</td>
                      <td>{{student.department}}</td>
                      <td><a href="{% url 'generate_card' student.id %}" class="generate-btn" style="text-decoration: none;">Generate Card</a></td>
                      <td><a href="{% url 'full_details' student.id %}" class="details-btn" style="text-decoration: none;">Full Details</a></td>
                      <td><img src="{{student.photo.url}}" alt="User" class="user-image"></td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

{% endblock %}
